<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XisfRename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <XisfRename.Properties.Settings>
            <setting name="Persist_FolderBrowseState" serializeAs="String">
                <value>@"E:\Photography\Astro Photography\Processing"</value>
            </setting>
            <setting name="Persist_FolderCsvBrowseState" serializeAs="String">
                <value>@"E:\Photography\Astro Photography\Processing"</value>
            </setting>
        </XisfRename.Properties.Settings>
    </userSettings>
</configuration>
