<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XisfFileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <userSettings>
    <XisfFileManager.Properties.Settings>
      <setting name="Persist_FolderBrowseState" serializeAs="String">
        <value>@"E:\Photography\Astro Photography\Processing"</value>
      </setting>
      <setting name="Persist_FolderCsvBrowseState" serializeAs="String">
        <value>@"E:\Photography\Astro Photography\Processing"</value>
      </setting>
      <setting name="Persist_FwhmPercentState" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="Persist_FwhmRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_FwhmRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_EccentricityRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_EccentricityRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_SnrPercentState" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Persist_SnrRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_SnrRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_MedianRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_MedianRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_NoiseRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_NoiseRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_UpdateStatisticsRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_UpdateStatisticsRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_NoiseRatioRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_NoiseRatioRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_StarResidualRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_StarResidualRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_StarsRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_StarsRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Persist_AirMassRangeHighState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Persist_AirMassRangeLowState" serializeAs="String">
        <value>0</value>
      </setting>
    </XisfFileManager.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
