<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>33</ApplicationRevision>
    <ApplicationVersion>2.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Debug</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <PublishDir>bin\Debug\net7.0-windows10.0.22621.0\app.publish\</PublishDir>
    <PublishUrl>D:\Tools\XisfFileManager\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net7.0-windows10.0.22621.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ProductName>Xisf File Manager</ProductName>
    <PublisherName>Skyhawk Consulting, Inc.</PublisherName>
    <SuiteName>XISF Tools</SuiteName>
    <TargetCulture>en-US</TargetCulture>
    <InstallUrl>\\localhost\D$\Tools\XisfFileManager\</InstallUrl>
    <History>True|2023-10-21T23:17:34.9821133Z;True|2023-10-21T14:01:24.5362342-04:00;True|2023-10-21T12:19:46.2859920-04:00;True|2023-10-21T00:54:08.8451854-04:00;True|2023-10-21T00:18:30.3539760-04:00;True|2023-10-20T23:40:21.2124003-04:00;True|2023-10-19T07:09:49.6493519-04:00;True|2023-10-18T22:51:50.8385377-04:00;True|2023-10-15T22:55:03.4062513-04:00;True|2023-10-15T14:04:35.5000993-04:00;True|2023-10-15T12:28:42.5595626-04:00;True|2023-10-15T11:20:43.3655470-04:00;True|2023-10-14T15:55:33.1045813-04:00;True|2023-10-14T13:50:36.3656912-04:00;True|2023-10-14T13:28:20.9147567-04:00;True|2023-10-12T10:54:40.5664634-04:00;True|2023-10-11T19:53:17.7260979-04:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Images\MasterFormat.jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="XisfFileManager.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 7.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>