<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>55</ApplicationRevision>
    <ApplicationVersion>2.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <PublishDir>bin\Release\net7.0-windows10.0.22621.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>D:\Tools\XisfFileManager\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net7.0-windows10.0.22621.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ProductName>Xisf File Manager</ProductName>
    <PublisherName>Skyhawk Consulting, Inc.</PublisherName>
    <SuiteName>XISF Tools</SuiteName>
    <TargetCulture>en-US</TargetCulture>
    <InstallUrl>\\localhost\D$\Tools\XisfFileManager\</InstallUrl>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <History>True|2023-11-16T06:20:08.5201620Z;True|2023-11-15T19:57:22.1536430-05:00;True|2023-11-15T19:50:40.9661503-05:00;False|2023-11-15T19:50:11.1946439-05:00;True|2023-11-15T18:19:44.0979543-05:00;True|2023-11-15T18:04:33.2764267-05:00;True|2023-11-08T23:34:15.7241298-05:00;True|2023-11-07T17:56:59.4433005-05:00;True|2023-11-07T15:55:40.9024161-05:00;True|2023-11-07T07:39:48.0900637-05:00;True|2023-11-07T07:39:27.7162038-05:00;True|2023-10-31T08:08:07.6286331-04:00;True|2023-10-29T02:04:52.4480850-04:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Images\MasterFormat.jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="XisfFileManager.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>